@* Admin Dashboard *@
<h2>Admin Dashboard</h2>

<a href="@Url.Action("ManageUsers")">Manage Users</a> |
<a href="@Url.Action("ManageGymClasses", "Admin")">Manage Gym Class</a> |
<a href="@Url.Action("ManageMembershipPlans", "Admin")">Manage Membership Plans</a> |

<a href="@Url.Action("Logout", "Account")">Logout</a>
    

